@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./assets/Poppins-Bold.ttf');
}

body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  height: 100vh;
  #root {
    padding: 0.5rem;
    .MuiBox-root {
      padding: 0.5rem;
    }
  }
}

.interactive {
  cursor: zoom-in;
}

.sortable {
  cursor: pointer;
}

.loot-table-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.penalty {
  color: red;
}

.bonus {
  color: limegreen;
}

.rarityChip {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.assetIconContainer {
  position: relative;
  top: 10px;
}
.assetIcon {
  height: 40px;
  position: relative;
  left: 5px;
  top: 5px;
}
